@import "tailwindcss";


body {
  background-color: #000;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  background-image: radial-gradient(circle, rgba(138, 43, 226,0.3), transparent);
}
.priceItem{ 

  box-shadow:
  0 0 5px rgba(255, 255, 255, 0.3),  /* Белый */
  0 0 10px rgba(200, 200, 255, 0.3),
  0 0 15px rgba(150, 150, 255, 0.3),
  0 0 20px rgba(100, 100, 255, 0.2),
  0 0 25px rgba(105, 18, 187, 0.5);  /* blueviolet */
}
.priceItem::before{
  content: 'BETA';
  position: absolute;
  width: 40%;
  height: 35px;
  top: -3%;
  color: yellow;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  left: -10%;
  font-weight: bold;
  transform: rotate(-13deg);
  animation: BetaAnim 1.5s linear infinite;
}
.authorBlock{
  background-color: rgb(138, 43, 226,0.1);
  box-shadow: 2px 1px 10px rgb(138, 43, 226,0.6);

}
.sprintBlock{
  background-color: rgb(138, 43, 226,0.1);
  box-shadow: 2px 1px 10px rgb(138, 43, 226,0.6);
}
.mainItem{
  background-color: rgb(138, 43, 226,0.1);
  box-shadow: 2px 1px 10px rgb(138, 43, 226,0.6);
}
header{
  box-shadow: 2px 1px 10px rgb(138, 43, 226,0.6);
  background-color: rgb(138, 43, 226,0.1);
}
.sprintBlock{
  background-color: rgb(138, 43, 226,0.1);
}
.sprintItem{
  background-color: rgb(138, 43, 226,0.2);
}
.btn{
  padding: 5px 25px;
  background-image: linear-gradient(
    to right,
    #25aae1,
    #40e495,
    #30dd8a,
    #2bb673
  );
  box-shadow: 0 10px 25px 0 rgba(49, 196, 190, 0.75);
  border: none;
 @apply text-[17px] rounded-[10px] text-[#fff]
}
@media (min-width:320px) and (max-width:475px){
  .container{
    @apply bg-amber-50 w-full h-auto;
   
  }
  .header{
    @apply w-full h-auto bg-amber-950;
  }
}
@keyframes BetaAnim {
  0% {
    font-size: 22px;
    letter-spacing: 1px;
  }
  25% {
    font-size: 23px;
    letter-spacing: 2px;
  }
  50% {
    font-size: 24px;
    letter-spacing: 3px;
  }
  75% {
    font-size: 23px;
    letter-spacing: 2px;
  }
  100% {
    font-size: 22px;
    letter-spacing: 1px;
  }
}