@import "tailwindcss";
@import 'magic.css/dist/magic.min.css';

body {
  background-color: #000;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  background-image: radial-gradient(circle, rgba(138, 43, 226,0.3), transparent);
  box-sizing: border-box;
}
.priceItem{ 

  box-shadow:
  0 0 5px rgba(255, 255, 255, 0.3),  /* Белый */
  0 0 10px rgba(200, 200, 255, 0.3),
  0 0 15px rgba(150, 150, 255, 0.3),
  0 0 20px rgba(100, 100, 255, 0.2),
  0 0 25px rgba(105, 18, 187, 0.5);  /* blueviolet */
}
.magicHoverOne:hover{
  animation: boingOutDown 1s;
}

.magicHoverTwo:hover{
  transition:  all ease 0.7s;
  box-shadow: 2px 1px 10px rgba(176, 130, 223, 0.6);
}
.priceItem::before{
  content: 'BETA';
  position: absolute;
  width: 40%;
  height: 35px;
  top: -3%;
  color: yellow;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  left: -10%;
  font-weight: bold;
  transform: rotate(-13deg);
  animation: BetaAnim 1.5s linear infinite;
}
.authorBlock{
  background-color: rgb(138, 43, 226,0.1);
  box-shadow: 2px 1px 10px rgb(138, 43, 226,0.6);

}
.sprintBlock{
  background-color: rgb(138, 43, 226,0.1);
  box-shadow: 2px 1px 10px rgb(138, 43, 226,0.6);
}
.record{
  background-color: rgb(138, 43, 226,0.1);
  box-shadow: 2px 1px 10px rgb(138, 43, 226,0.6);
}
.drawer{
  display: none;
}
.mainItem{
  background-color: rgb(138, 43, 226,0.1);
  box-shadow: 2px 1px 10px rgb(138, 43, 226,0.6);
}
header{
  box-shadow: 2px 1px 10px rgb(138, 43, 226,0.6);
  background-color: rgb(138, 43, 226,0.1);
}
.sprintBlock{
  background-color: rgb(138, 43, 226,0.1);
}
.sprintItem{
  background-color: rgb(138, 43, 226,0.2);
}
.sprintItem::before{
  content: 'BETA';
position: absolute;
width: 40%;
height: 35px;
top: -3%;
color: yellow;
font-size: 22px;
display: flex;
justify-content: center;
align-items: center;
left: -10%;
font-weight: bold;
transform: rotate(-13deg);
animation: BetaAnim 1.5s linear infinite;
}
.fideInAnim{
  animation: fadeIn 1s ease-in-out forwards;
}
/* TODO */
.scrollAnim{
      opacity: 0;
      transition: none; /* Отключаем обычные transitions */

      animation-timeline: view(); /* Синхронизируем с видимостью */
      animation-name: fadeIn; /* Название анимации */
      animation-range: entry 25% cover 85%; /* Начинаем при 25% entry, заканчиваем при 75% cover */
      animation-fill-mode: both; /* Сохраняем стили до и после анимации */
}
.sprintItem {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards; /* Запуск анимации */
}
/* TODO */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.btn{
  padding: 10px 45px;
  background-image: linear-gradient(
    to right,
    #25aae1,
    #40e495,
    #30dd8a,
    #2bb673
  );
  box-shadow: 0 10px 25px 0 rgba(49, 196, 190, 0.75);
  border: none;
 @apply text-[17px] rounded-[10px] text-[#fff]
}

/* TODO */

@media (min-width:475px) and (max-width:990px){
  .container{
    width: 100%;
    height: auto;
    h1{
      font-size:5.5vw;
      line-height:8vw;
    }
    P{
      text-align:center;
      font-size: 3vw;
      line-height: 5vw;
      padding-top: 10px;
    }
    }
    .footer{
      width: 100%;
      height: auto;
      flex-direction: column;
      margin-bottom: 10px;
      .footerItemOne{
        display: none;
      }
      .footerItem{
        margin-top: 80px;
        height: auto;
        width: 90%;
        p{
          font-size: 3vw;
          line-height: 5vw;
          padding: 20px 20px;
        }
      }
    }
    .header{ 
      margin-top: 20px;   
      width: 100%;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      ul{
        gap: 2vw;
      }
      li{
      font-size: 2.7vw;
     }

    }
    .logoTitle{
      display: none;
    }
   .infoBlock{
    width: 100%;
    height: 100%;
    margin-top: 0;
    background-color:transparent;
    display: flex;
    flex-direction: column;
   }
   .infoItem{
    width: 80%;
    height: 30%;
    .btn{
      margin-top: 3vw;
      padding: 5px 30px;
    }
    h3{
      font-size: 5vw;
      padding-top: 10px;
    }
     }
     .advantagesBlock{
    width: 100%;
    height: auto;
    
    margin-top: 10px;
    .advantagesBlockOne{
     h2{
      display: none ;
     }
    }
    .advantagesBlockTwo{
      width: 100%;
      flex-direction: column;
      .mainItem{
        width: 80%;
        height: auto;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        img{
          padding-bottom: 0;
          margin-left: 20px;
        }
      }
     }
    }

     .containerSprint{
    width: 100%;
    height: auto;
    .mobileBM{
      margin-bottom: 20px;
    }
    .h1{
      display: none;
    }
    h1{
      font-size: 5.5vw;
      line-height:8vw;
      padding-bottom: 10px;
    }
    P{
      text-align:center;
      font-size: 3vw;
      line-height: 5vw;
    }
    .sprintBlock{
      width: 100%;
      height: auto;
    }
    .sprintBlockItem {
      width: 100%;
      height: 35%;
      .btn{
        margin-top: 4vw;
        padding: 5px 30px;
      }
      h3{
        font-size: 6vw;
        padding-top: 10px;
      }
      p{
        font-size: 3vw;
        padding-top: 10px;
      }
      }
    }
    .headerSprint{ 
    margin-top: 20px;   
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    ul{
      gap: 2vw;
    }
    li{
    font-size: 3vw;
     }
     }
     .logoTitle{
       display: none;
     }
     p{
       padding-top: 10px;
       font-size: 4vw;
       padding: 0 20px;
       line-height: 7vw;
     }
     /* TODO */
     
    .containerIntensiv{
    width: 100%;
    height: auto;
    .intensivBlock{
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;

      .intensivItem {
        width: 90%;
        height: 35%;
        .btn{
          margin-top: 4vw;
          padding: 5px 30px;
        }
        .btn{
          margin: 20px 0;
        }
        h3{
          font-size: 5vw;
          padding-top: 20px;
        }
        p{
          
          font-size: 3vw;
          padding: 10px 20px;
          line-height: 5vw;
        }
      }
    }
     .h1{
     display: none;
    }
    h1{
     font-size: 5.5vw;
     line-height:8vw;
     padding-bottom: 10px;
    }
    p{
      text-align: center;
      padding-top: 10px;
     font-size: 3vw;
     padding: 0 20px;
     line-height: 5vw;
    
     }
    }
   .headerIntensiv{
    margin-top: 20px;   
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;  

    ul{
      gap: 2vw;
    }
    li{
    font-size: 2.7vw;
   }
     }

   .containerAuth{
    width: 100%;
    height: auto;
    
    .red{
      height: 100%;
      background-color: transparent;
    }
    .cursBlock{
      display: none;
    }
    .sprintBlock{
      width: 100%;
      height: auto;
    box-shadow: none;
    background-color:none;
    box-shadow: none;
    }
    .authInfoTwo{
      background-color: rgb(138, 43, 226,0.1);
      box-shadow: 2px 1px 10px rgb(138, 43, 226,0.6);
      width: 100%;
      height: auto;
      p{
        color: #fff;
        padding: 15px 0;
        text-align: center;
        font-size: 3vw;
        line-height: 5vw;
      }
     }
    .authInfo{
      width: 100%;
      height: auto;
      background-color: transparent ;
      display: flex;
      flex-direction: column;
      .authText{
        height: auto;
        width: 100%;
        padding: 10px 25px;
        p{
          padding: 15px 15px;
          text-align: center;
          font-size: 3vw;
          line-height: 5vw;
        }
      }
      h3{
        padding-top:10px;
        font-size: 9vw;
      }
      p{
        padding: 0;
        margin: 0;
        font-size: 4vw;
        line-height: 7vw;
      }
    }
    .headerAuth{
      display:none;
    }
    }
    }
  
/* TODO*/
@media (min-width:320px) and (max-width:475px){
  .container{
  width: 100%;
  height: auto;
  h1{
    font-size: 10vw;
    line-height:12vw;
  }
  }
  .footer{
    width: 100%;
    height: auto;
    flex-direction: column;
    margin-bottom: 10px;

    .footerItemOne{
      display: none;
    }
    .footerItem{
      margin-top: 80px;
      height: auto;
      width: 90%;
      p{
        font-size: 4vw;
        line-height: 7vw;
      }
    }
  }
  .header{ 
    margin-top: 20px;   
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    ul{
      gap: 2vw;
    }
  li{

    font-size: 3vw;
  }
  display: none;
  }
  .logoTitle{
    display: none;
  }
  p{
    padding-top: 10px;
    font-size: 4vw;
    padding: 0 20px;
    line-height: 7vw;
  }
 .infoBlock{
  width: 100%;
  height: 100%;
  margin-top: 0;
  background-color:transparent;
  display: flex;
  flex-direction: column;
 }
 .infoItem{
  width: 80%;
  height: 30%;
  h3{
    font-size: 6vw;
    padding-top: 10px;
  }
  .btn{
    margin-top: 8vw;
    padding: 5px 25px;
  }
   }
   .advantagesBlock{
  width: 100%;
  height: auto;
 
  margin-top: 10px;
  .advantagesBlockOne{
   h2{
    display: none ;
   }
  }
  .advantagesBlockTwo{
    width: 100%;
    flex-direction: column;
    .mainItem{
      width: 90%;
      height: auto;
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
      img{
        padding-bottom: 0;
        margin-left: 20px;
      }
    }
   }
  }

/* TODO */
.containerRecord {
  width: 100%;
  height: auto;
  margin: 0;
  .main{
    height: 600px;
  }
  .record{
    width: 100%;
    height: 40%;
    label{
      padding-top: 10px;
      font-size: 7vw;
    }
  }    
  .form{
      margin: 0;
      gap:10px
      label{
       padding-top: 10px;
      font-size: 6vw;
      }
    }
    .input{
      height: 45px;
      font-size: 4vw;
    }
  .recordBlock{
  margin: 0;
  }
  .recordOne_Block{
    display: none;
    margin: 0;
  }
}
/* TODO */
   .containerSprint{
  width: 100%;
  height: auto;
  .mobileBM{
    margin-bottom: 20px;
  }
  .h1{
    display: none;
  }
  h1{
    font-size: 10vw;
    line-height:12vw;
    padding-bottom: 10px;
  }
  .sprintBlock{
    width: 100%;
    height: auto;
  }
  .sprintBlockItem {
    width: 100%;
    height: 35%;
    .btn{
      margin-top: 8vw;
      padding: 5px 25px;
    }
    h3{
      font-size: 8vw;
      padding-top: 10px;
    }
    }
  }
  .headerSprint{ 
  margin-top: 20px;   
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  ul{
    gap: 2vw;
  }
  li{
  font-size: 3vw;
   }
   }
   .logoTitle{
     display: none;
   }
   p{
     padding-top: 10px;
     font-size: 4vw;
     padding: 0 20px;
     line-height: 7vw;
   }
   /* TODO */
   
  .containerIntensiv{
  width: 100%;
  height: auto;

  .intensivBlock{
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;

    .intensivItem {
      width: 90%;
      height: 35%;
      .btn{
        margin: 20px 0;
      }
      h3{
        font-size: 6vw;
        padding-top: 20px;
      }
      p{
        
        font-size: 4vw;
        padding: 10px 20px;
        line-height: 7vw;
      }
    }
  }
   .h1{
   display: none;
  }
  h1{
   font-size: 10vw;
  line-height:12vw;
  padding-bottom: 10px;
  }
  p{
    padding-top: 10px;
  font-size: 4vw;
  padding: 0 20px;
   line-height: 6vw;
  
   }
  }
 .headerIntensiv{
  margin-top: 20px;   
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  ul{
    gap: 2vw;
  }
  li{
  font-size: 3vw;
  }
  /* TODO */
   }
 .containerAuth{
  width: 100%;
  height: auto;
  .red{
    height: 100%;
    background-color: transparent;
  }
  .cursBlock{
    display: none;
  }
  .sprintBlock{
    width: 100%;
    height: auto;
  box-shadow: none;
  background-color:none;
  box-shadow: none;
  }
  .authInfoTwo{
    background-color: rgb(138, 43, 226,0.1);
    box-shadow: 2px 1px 10px rgb(138, 43, 226,0.6);
    width: 100%;
    height: auto;
    p{
      color: #fff;
      padding: 15px 0;
      text-align: center;
    }
   }
  .authInfo{
    width: 100%;
    height: auto;
    background-color: transparent ;
    display: flex;
    flex-direction: column;
    .authText{
      height: auto;
      width: 100%;
      padding: 10px 25px;
      p{
        text-align:center;
      }
    }
    h3{
      padding-top:10px;
      font-size: 9vw;
    }
    p{
      padding: 0;
      margin: 0;
      font-size: 4vw;
      line-height: 7vw;
    }
  }
  .headerAuth{
    display:none;
  }
  }
  }

@keyframes BetaAnim {
  0% {
    font-size: 22px;
    letter-spacing: 1px;
  }
  25% {
    font-size: 23px;
    letter-spacing: 2px;
  }
  50% {
    font-size: 24px;
    letter-spacing: 3px;
  }
  75% {
    font-size: 23px;
    letter-spacing: 2px;
  }
  100% {
    font-size: 22px;
    letter-spacing: 1px;
  }
}
@keyframes ScrollAnim{
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.record-card {
  border: 3px solid #8e44ad; /* Фиолетовый */
  border-radius: 10px;
  font-size: 16px;
  color: #333;
  position: relative; /* Важно для создания псевдоэлемента */
  overflow: hidden; /* Обрезаем все, что выходит за рамки карточки */
}

.record-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    45deg,
   #9d4edd,
   #c77dff,
   #3c096c,
   #e0aaff,
   #9d4edd
  );
  z-index: -1; /* Помещаем псевдоэлемент под контент */
  animation: borderAnimation 4s linear forwards;
  background-size: 300%; /* Для плавного перехода */
}

@keyframes borderAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100%   50%;
  }
}
/* TODO */
.homePageItem {
  border: 3px solid blueviolet; /* Исходный цвет границы */
  border-radius: 10px;
  text-align: center;
  font-size: 16px;
  color: #333;
  animation: borderColorAnimation 5s ease-in-out infinite; /* Анимируем только цвет границы */
}

@keyframes borderColorAnimation {
  0% {
    border-color: blueviolet; /* Исходный цвет */
  }
  20% {
    border-color: #9d4edd;
  }
  40% {
    border-color: #c77dff;
  }
  60% {
    border-color: #3c096c;
  }
  80% {
    border-color: #e0aaff;
  }
  100% {
    border-color: blueviolet; /* Возвращаемся к исходному цвету */
  }
}

/* TODO */
@import url('https://fonts.googleapis.com/css?family=Exo:400,700');




.area{
    background:transparent;   
    width: 100%;
    height:100%;
     
}

.circles{
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2100px;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgb(138, 43, 226,0.4);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 50px;
    height: 50px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

/* TODO */


