@media (min-width:320px) and (max-width:575px){
    .containerSprint{
          height: auto;
          .sprintMainBlock{
            height: auto;
            background-color: red;
          }
        .circles{
          display: none;
         }
      width: 100%;
      height: auto;
      .mobileBM{
        margin-bottom: 20px;
      }
      .h1{
        display: none;
      }
      h1{
        font-size: 10vw;
        line-height:12vw;
        padding-bottom: 10px;
      }
      .sprintBlock{
        width: 100%;
        height: auto;
      }
      .sprintBlockItem {
        width: 100%;
        height: 35%;
        .btn{
          margin-top: 8vw;
          padding: 5px 25px;
        }
        h3{
          font-size: 8vw;
          padding-top: 10px;
        }
        }
      }
      .headerSprint{ 
      margin-top: 20px;   
      width: 100%;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      display: none;
      ul{
        gap: 2vw;
      }
      li{
      font-size: 3vw;
       }
       }
       .logoTitle{
         display: none;
       }
       p{
         padding-top: 10px;
         font-size: 4vw;
         padding: 0 20px;
         line-height: 7vw;
       }
}